.ex1 button {
  color: blue !important;
}

.ex3 .box.tt {
  background-color: red;
}

.ex4 div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.ex5 div {}


.ex5 span {
  background-color: red;
  display: block;
  width: 100px;
  height: 100px;

}


.ex5 span.rr {
  background-color: red;
  display: block;
  margin-left: auto;
  width: 100px;
  height: 100px;
}