.ex1 button {
  color: blue;
}

.ex2 .box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  text-align: center;
  line-height: 100px;

}

.ex3 .box {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  text-align: center;
  line-height: 100px;
}

.ex3 .box.tt {
  background-color: red;
}

.ex4 div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.ex5 div {
  text-align: center;

}


.ex5 div span {
  background-color: red;
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin-right: auto;
}


.ex5 div span.rr {
  background-color: red;
  display: block;
  margin-left: auto;
  width: 100px;
  height: 100px;
}