.ex1 button {
  color: blue !important;
}

.ex3 .box.tt {
  background-color: red;
}

.ex4 div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.ex5 div {
  text-align: end;
}

.ex5 div span.rr {
  background-color: red;
  display: inline-block;
  width: 100px;
  height: 100px;
}