header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


header .top .member {
  width: 90%;
  height: inherit;
  max-width: 1200px;
  text-align: right;
  margin: 0 auto;
}

header .top .member a {
  margin-left: 7px;
  color: #aaa;
  font-size: 0.8em;
  line-height: 35px;
}

header .top .member a:hover {
  color: #DDD;
}

header .top {
  background-color: var(--dark-color);
  height: 35px;
}

h1 {
  height: 80%;
}

h1 img {
  height: 100%;
}

header .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
  height: calc(100% - 35px);
  margin: 0 auto;

}





@media screen and (min-width:1000px) {
  body {
    padding-top: 130px;
  }

  header {
    height: 130px;
  }

  .nav_bar.sm {
    display: none !important;
  }

  .btn {
    display: none;
  }
}

@media screen and (max-width:1000px) {
  body {
    padding-top: 100px;
  }

  header {
    height: 100px;
  }

  header .bottom {
    height: calc(100% - 35px);
  }

  .nav_bar.lg {
    display: none;
  }

}

/* --- btn --- */

.btn {
  position: relative;
  width: 45px;
  height: 45px;
  background-color: var(--dark-color);
  border-radius: 5px;
}

.btn i {
  position: absolute;
  top: 50;
  left: 50;
  color: #FFF;
  font-size: 1.2em;
  transform: translate(-50%, -50%);

  transition: all 0.3s;
}

.btn .close {
  opacity: 0;
}

.btn.active .open {
  opacity: 0;
}

.btn.active .close {
  opacity: 1;
}

/* --- lg --- */

.nav_bar.lg {
  height: 45px;
}

.nav_bar.lg>ul {
  display: flex;
  height: 100%;
}

.nav_bar.lg>ul>li {
  position: relative;
  height: 100%;
}

.nav_bar.lg>ul>li>a {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  line-height: 42px;
  font-size: 1.1em;
  font-weight: 500;
  padding: 0 50px;
  transition: all 0.3s;
}

.nav_bar.lg>ul>li>a>span {
  display: block;
  height: 100%;
  transition: all 0.3s;
}

.nav_bar.lg>ul>li>a>span.en {
  position: absolute;
  top: 45px;
  left: 50%;
  text-transform: uppercase;
  font-size: 0.9em;
  transform: translateX(-50%);
}

.nav_bar.lg>ul>li:hover>a>span {
  margin-top: -45px;
}

.nav_bar.lg>ul>li:hover>a {
  color: var(--point-color);
}

.nav_bar.lg>ul>li>ul>li>a {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
  background-color: var(--main-color);
  color: #FFF;
  transition: all 0.3s;
}

.nav_bar.lg>ul>li>ul>li>a:hover {
  background-color: var(--sub-color);
}

.nav_bar.lg>ul>li>ul {
  position: absolute;
  display: none;
  left: 50%;
  min-width: 100%;
  transform: translateX(-50%);
}

/* --- sm --- */



.nav_bar.sm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}

.nav_bar.sm>ul {
  position: absolute;
  right: 0;
  width: 230px;
  height: 100%;
  overflow: auto;
  background-color: white;
  padding-top: 120px;
  box-sizing: border-box;
  transform: translateX(100%);
  transition: all 0.5s;
}


.nav_bar.sm.active>ul {
  transform: translateX(0%);
}

.nav_bar.sm>ul>li:hover>a{
  color:var(--point-color);
}

/* ul li a span:last-child {
  display: none;
} */

.nav_bar.sm>ul>li>a {
  display: block;
  padding: 10px 10px;
  font-size: 1.15em;
  font-weight: 500;
  border-bottom: 1px solid #CCC;
  transition: all 0.3s;
}

.nav_bar.sm>ul>li>a::after {
  float: right;
  margin-top: 3px;
  margin-right: 10px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  transition: all 0.3s;
}


.nav_bar.sm>ul>li>a.active {
  color: var(--point-color);
}

.nav_bar.sm>ul>li>a.active::after {
  transform: rotateX(180deg);
}


.nav_bar.sm>ul>li>ul>li>a {
  display: block;
  padding: 10px 15px;
  font-weight: 400;
  border-bottom: 1px solid var(--sub-color);
  color: white;
  background-color: var(--main-color);
  transition: all 0.3s;
}

.nav_bar.sm>ul>li>ul>li>a:hover {
  background-color: var(--sub-color);
}

.nav_bar.sm>ul>li>ul {
  display: none;
}

.nav_bar.sm {
  display: none;
}

.nav_bar.sm>ul .member,
.nav_bar.sm>ul .sns,
.nav_bar.lg>ul .member,
.nav_bar.lg>ul .sns,
.nav_bar.sm>ul>li>h6,
.nav_bar.lg>ul>li>h6 {
  display:none;
}
