@use "./mixin" as m;

.sub-visual {
  position: relative;
  height: max(30vh, 200px);
  background-color: #000;
  .breadcrumb {
    position: absolute;
    right: 2%;
    top: 5%;
    z-index: 2;
    font-size: 0.85em;
    text-transform: uppercase;
    color: #fff;
    > * {
      margin: 0 3px;
    }
    @media #{m.$maxSm} {
     
      display: none;
    }
  }
  #particles-js {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  figure {
    height: 100%;
    position: relative;
    overflow: hidden;
    img {
      filter: brightness(0.7);
      @include m.objectFit(cover);
    }
    figcaption {
      @include m.posLT(absolute, 50%, 50%, -50%, -50%);  
      width: min(90%, 400px);  
      color: #fff;
      box-sizing: border-box;
      padding-left: 15px;
      border-left: 3px solid var(--blue);
      h6 {
        display: inline-block; 
        background-color: var(--blue);
        padding: 5px 23px;
        margin-bottom: 7px;
        border-radius: 0 25px 0 25px;
        font-size: 0.9em;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
  figure {
    display: none;
    img {
      transform: scale(1.2);
    }
    figcaption {
      h6,
      p {
        position: relative;
      }
    }
  }
  figure.active {
    display: none;
    img {
      transform: scale(1);
      transition: transform 20s;  
      transition-timing-function: linear;
    }
  }
}

.snb {
  height: 50px;
  background-color: var(--dark);
  background-image: url(../img/sub/sub1.png);
  background-size: 5px;
  > div {
    width: min(95%, 1200px);
    margin: 0 auto;
    height: inherit;
    > ul {
      height: inherit;
      > li {
        display: none;
        height: inherit;
        &.current-menu-parent {
          display: block;
        }
        > a {
          display: none;
        }
        > ul {
          height: inherit;
          display: flex;
          justify-content: center;
          text-align: center;
          line-height: 50px;
          > li {
            flex: 1;
            max-width: 200px;
            height: inherit;
            border-right: 1px solid rgba(#fff, 0.6);
            &:last-child {
              border: none;
            }
            &.current-post-parent > a {
              background-color: var(--orange);
            }
            > a {
              display: block;
              height: inherit;
              @include m.ellipsis;
              padding: 0 15px;
              color: #fff;
              background-color: var(--blue);
              &[aria-current] {
                color: #fff;
                background-color: var(--orange);
              }
            }
          }
        }
      }
    }
  }
}

main.sub-content {
  width: min(95%, 1200px);
  margin: 30px auto;
  h2.sub-title {
    position: relative;
    text-align: center;
    font-size: min(7vw, 2em);
    font-weight: 500;
    color: var(--blue);
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 30px;
    &::first-letter {
      font-size: 1.2em;
      color: var(--orange);
    }
    &::after {
      content: "";
      position: absolute;
      left: calc(50% - 25px);
      top: 0;
      margin: 0 auto;
      width: 50px;
      height: 3px;
      background-color: var(--green);
    }
  } //h2
  .sub-desc {
    position: relative;
    width: min(90%, 500px);
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px;
    text-align: center;
    color: var(--dark);
    font-weight: 600;
    b {
      font-size: 1.2em;
      color: var(--blue);
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      border: 3px solid var(--orange);
    }
    &::after {
      left: 0;
      top:0;
      border-right: none;
      border-bottom: none;
    }
    &::before {
      right: 0;
      bottom:0;
      border-left: none;
      border-top: none;
    }
  } //desc
} //sub-content
