body {
  color: #666;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color: #FF2A2A;
  --dark-color: #333;
  --sub-color: #FF5555;
  --header-height: 60px;
}

/* html{}과 같은 말이다 */

main {
  position: relative;
  z-index: 1;
}

@media screen and (min-width:1000px) {
  :root {
    --header-height: 70px;
  }
}

@media screen and (max-width:1000px) {
  :root {
    --header-height: 60px;
  }
}

@keyframes stroke {
  0% {
    stroke-dashoffset: -1;
  }

  30% {
    stroke-dashoffset: 0;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 1;
  }
}

@keyframes updown {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: -20px;
  }
}

@keyframes glitch {
  0% {
    transform: translateX(-3%);
  }

  1% {
    transform: translateX(2%);
  }

  2% {
    transform: translateX(-1%);
  }

  3% {
    transform: translateX(2%);
  }

  4% {
    transform: translateX(-2%);
  }

  5% {
    transform: translateX(0%);
  }

  6% {
    transform: translateX(2%);
  }

  7% {
    transform: translateX(-1%);
  }

  8% {
    transform: translateX(2%);
  }

  9% {
    transform: translateX(-2%);
  }

  10% {
    transform: translateX(1%);
  }

  11% {
    transform: translateX(-1%);
  }

  12% {
    transform: translateX(-3%);
  }

  13% {
    transform: translateX(2%);
  }

  14% {
    transform: translateX(-1%);
  }

  15% {
    transform: translateX(0%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 0;
  }

  /* 10%에서 100%까지는 정상적인 상태 지지직 없는 상태*/
}

@keyframes paper {
  0% {
    top: -10%;
  }

  100% {
    top: 110%;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 5 #FFF);
  }

  100% {
    filter: drop-shadow(0 0 30px #FFF);
  }
}

.title {
  position: relative;
  width: min(95%, 1000px);
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: min(10vw, 5em);
  color: #FFF;
}

.title::before {
  content: attr(data-content);
  position: absolute;
  overflow: hidden;
  color: var(--main-color);
  height: 50%;
}