@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@import "reset.css";
@import "header.css";

:root {
  --main-color: #ffbbdb;
}

body {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

.serif {
  font-family: 'Nanum Myeongjo', sans-serif;
}