.home_visual {
  position: relative;
  background-color: black;
}

.home_visual>.slick-list {
  height: 100%;
  cursor: grab;
}

.home_visual>.slick-list:active {
  cursor: grabbing;
}

.home_visual>.slick-list>.slick-track {
  height: 100%;
}

.home_visual>.slick-list>.slick-track figure img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}

.home_visual figure {
  position: relative;
}

.home_visual figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  text-align: center;
  color: #FFF;
}

.home_visual figure figcaption h5 {
  margin-bottom: 10px;
  font-size: min(7vw, 3.5em);
  font-weight: 700;
  text-transform: uppercase;
}

.home_visual .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #FFF;
  font-size: 2em;
  transition: all 0.5;
  opacity: 0.5;
}

.home_visual .slick-arrow:hover {
  opacity: 1;
}

.home_visual .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.home_visual .slick-dots li {
  margin: 0 7px;
}

.home_visual .slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  font-size: 0;
  background-color: #FFF;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.5s;
}

.home_visual .slick-dots li.slick-active button {
  opacity: 1;
  background-color: var(--point-color);
}


.home_visual .slick-prev {
  left: 20px;
}

.home_visual .slick-next {
  right: 20px;
}

.home_visual #particles-js {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;
  z-index: 1;
}

@media screen and (min-width:1000px) {
  .home_visual {
    height: 600px;
  }
}

@media screen and (max-width:1000px) {
  .home_visual {
    height: 300px;
  }
}

/* motion */

.home_visual figure {
  overflow: hidden;
}

.home_visual figure figcaption h5,
.home_visual figure figcaption p {
  opacity: 0;
  transition: all 3s;
}

.home_visual figure figcaption h5 {
  transform: translateX(-100%);
}

.home_visual figure figcaption p {
  transform: translateX(100%);

}

.home_visual figure img {
  transform: scale(1.2);
  filter: grayscale(0.5) brightness(0.7);
  transition: all 11s;
}

.home_visual figure.slick-active figcaption h5,
.home_visual figure.slick-active figcaption p {
  opacity: 1;
  transform: translateX(0);
}

.home_visual figure.slick-active img {
  transform: scale(1);
  filter: grayscale(0) brightness(0.9);
}


/* feature */
.feature {
  padding: 40px 0;
}

.feature ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: min(95%, 1200px);
}

.feature ul li {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 5px;
}

.feature ul li a {
  padding: 5px;
  /*   background-color: var(--main-color);
  border: 1px solid var(--sub-color); */
}

.feature ul li a figure {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.feature ul li a figure figcaption {
  position: relative;
  flex: 1;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  color: #FFF;
}

.feature ul li a figure figcaption h3 {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
}

.feature ul li a figure figcaption p {
  font-size: 0.85em;
  font-weight: 200;
}

.feature ul li a figure img {
  width: 100%;
}

@media screen and (min-width:1000px) {
  .feature ul li {
    width: 25%;
  }
}

@media screen and (min-width:600px) and (max-width:1000px) {
  .feature ul li {
    width: 50%;
  }
}

@media screen and (max-width:600px) {
  .feature ul li {
    width: 100%;
    margin: 0 auto;
  }
}

/* hover */

.feature img {
  transition: all 0.5s;
  filter: grayscale(0.5)
}

.feature a:hover img {
  transform: scale(1.2);
  filter: grayscale(0)
}

.feature a {
  transition: background-color 0.5s;
}

.feature a:hover {
  background-color: var(--sub2-color);
}

.feature a figcaption {
  transition: all 0.5s;
}

.feature a:hover figcaption {
  background-color: var(--sub-color);
}

/* latest */

.latest .news {
  background-color: #DDD;
  padding: 20px 0;
}

.latest .news .center {
  margin: 0 auto;
  width: min(95%, 1200px);
}

.latest .news .center h3 {
  font-weight: 600;
  color: var(--main-color);
}

.latest .news .center .rolling {
  overflow: hidden;
  height: 23px;
  color: var(--dark-color);
}

.latest .news .center .rolling ul {
  animation: rolling 10s linear infinite;
}

@keyframes rolling {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@media screen and (min-width:700px) {
  .latest .news .center {
    display: flex;
  }

  .latest .news .center h3 {
    margin-right: 20px;
  }
}

@media screen and (max-width:700px) {
  .latest .news .center {}
}

/* bottom */
.latest .bottom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
  width: min(95%, 1200px);
  margin: 0 auto;
}

.latest .bottom article {
  position: relative;
  box-sizing: border-box;
}

.latest .bottom article h3 {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--main-color);
  margin-bottom: 15px;
}

.latest .bottom article h3::before {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--main-color);
}

.latest .bottom article .more {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 0.6em;
  text-transform: uppercase;
  color: #FFF;
  padding: 3px 7px;
  border-radius: 3px;
  background-color: var(--main-color);
  transition: all 0.3s;
}

.latest .bottom article .more:hover {
  background-color: var(--point-color);
}

.latest .bottom .notice ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
  padding: 3px 0;
  border-bottom: 1px dotted var(--main-color);
}

.latest .bottom .notice ul li a {
  width: 70%;
}

.latest .bottom .notice ul li a::before {
  content: '· ';
}

.latest .bottom .notice ul li a:hover {
  color: var(--point-color);
}

.latest .bottom .notice ul li time {
  width: 25%;
  font-size: 0.9em;
  text-align: right;
}

.latest .bottom .notice ul li>* {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.latest .bottom .gallery ul {
  display: flex;
  flex-wrap: wrap;
}

.latest .bottom .gallery ul li a {
  display: block;
  border: 5px solid transparent;
  overflow: hidden;
  /*   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}


.latest .bottom .gallery ul li a img {
  width: 100%;
  transform: scale(1);
  filter: grayscale(1);
  transition: all 0.5s;
}

.latest .bottom .gallery ul li a img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

.latest .bottom .customer p {
  font-size: 0.9em;
  font-weight: 400;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.8);
}

.latest .bottom .customer .tel {
  display: block;
  margin-bottom: 15px;
  font-size: 1.2em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.latest .bottom .customer .tel:hover {
  color: var(--point-color);
}

.latest .bottom .customer .mail {
  display: block;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.6);
  color: #FFF;
  transition: all 0.2s;
}

.latest .bottom .customer .mail:hover {
  background-color: var(--point-color);
}


@media screen and (min-width:1000px) {
  .latest .bottom .notice {
    width: 28%;
    padding-right: 25px;
  }

  .latest .bottom .gallery {
    width: 50%;
    padding: 0 25px;
    border: 1px solid #CCC;
    border-top: none;
    border-bottom: none;
  }

  .latest .bottom .gallery ul li {
    width: 33%;
  }

  .latest .bottom .customer {
    width: 22%;
    position: absolute;
    right: 0;
    padding-left: 25px;
  }

}

@media screen and (min-width:600px) and (max-width:1000px) {

  .latest .bottom .notice {
    width: 50%;
    padding-right: 25px;
    border-right: 1px solid #CCC;

  }

  .latest .bottom .gallery {
    margin-top: 30px;
    /*     width: 100%; */
  }

  .latest .bottom .gallery ul li {
    width: 33%;
  }


  .latest .bottom .customer {
    width: 50%;
    padding-left: 25px;
  }
}

@media screen and (max-width:600px) {
  .latest .bottom article {
    margin: 20px 0;
    width: 100%;
  }

  .latest .bottom .gallery ul li {
    width: 33%;
  }

}


/* motion */
.latest {
  overflow: hidden;
}

.latest .bottom article {
  opacity: 0;
  transition: transform 2s, opacity 2s;
}

.latest .bottom .notice {
  transform: translateX(-100%);
}

.latest .bottom .customer {
  transform: translateX(100%);

}

.latest .bottom article.active {
  opacity: 1;
  transform: translate(0);
}