@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


@import "reset.css";
@import "header.css";
@import "footer.css";
@import "sub-layout.css";
@import "greet.css";
@import "biz-intro.css";
@import "board.css";
@import "contact.css";
@import "faq.css";
@import "location.css";
@import "video.css";
@import "biz-area.css";
@import "gallery1.css";
@import "gallery2.css";
@import "gallery3.css";
@import "gallery4.css";
@import "gallery5.css";


:root {
  --main-color: #5F7161;
  --sub-color: #6D8B74;
  --sub2-color: #EFEAD8;
  --point-color: #AA8B56;
  --dark-color: #1f1d1d;
}

body {
  color: #4b4b4b;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif, 'Roboto Slab', serif, 'Nanum Pen Script', cursive;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.serif {
  font-family: 'Nanum Myeongjo', sans-serif;
}

.point {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.5em;
  color: var(--point-color);
}

h1 {
  color: var(--main-color);
}


/* Style */


.sub_title {
  font-size: 1.4em;
  font-weight: 500;
  color: var(--main-color);
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--main-color)
}

.emphasis {
  font-size: 1.15em;
  font-weight: 500;
}

.point {
  color: var(--point-color);
  font-weight: 800;
}

.sub_desc {
  margin-bottom: 40px;

}

.sub_desc .em {
  display: block;
}

.site_guide {
  position: relative;
  padding: 20px;
  font-weight: 200;
  max-width: 800px;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #000;
}

.site_guide button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: rgba(255, 255, 255, 0.9);
}