body {
  background-color: powderblue;
  aside {
    > ul {
      > li {
        > a {
          display: none;
        }
        > ul > li > a.active {
          color: red;
        }
      }
    }
  }
}
