@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import "reset.css";

@import "components/header.css";
@import "components/navbar.css";

body {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: none;
  background-color: #a4a4a4;

}

.logo__bar {
  margin-left: 30px;
  color: pink;
  font-size: 25px;
}

.logo__text {
  /* 이 클래스에서는 텍스트언더라인수정, 컬러 등 수정이 안되는데 아래처럼 태그로 바로들어가면가능 */
}

.logo__bar a {
  text-decoration: none;
  color: pink;
}

.search__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.search__bar input {
  width: 280px;
  height: 30px;
  border: 1px solid #a8a4a4;
  border-radius: 20px;
}

input:focus {
  outline: none;
}


.search__bar button {
  position: absolute;
  left:470px; /* 의미없...반응형불가 */
}



.etc__bar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding-right: 10px;
  /* 적용안됨 */
}

.etc__bar {
  font-size: 14px;
  /* margin-right: 10px; */
}


#user__hamberger {
  margin-left:10px;
}

#user__icon {
  padding-left:8px;
}

.nav__bar {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 20px 0px;
  /* 적용안됨 */
  width: 100%;
  height: 100%;
}

.nav__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #757575;
}


.nav__text {
  position: absolute;
  bottom: -50px;
  font-size: 15px;
  color: #a4a4a4;
}