.ex1 {
  margin: 30px auto;
  width: min(90%, 500px);
  svg {
    display: block;
    width: 100%;
    .obj {
      offset-path: path("M520.24 71.02c56.87 0 112.05 11.14 163.99 33.11 50.17 21.22 95.22 51.6 133.91 90.29 38.69 38.69 69.07 83.75 90.29 133.91 21.97 51.94 33.11 107.11 33.11 163.99s-11.14 112.05-33.11 163.99c-21.22 50.17-51.6 95.22-90.29 133.91-38.69 38.69-83.75 69.07-133.91 90.29-51.94 21.97-107.11 33.11-163.99 33.11s-112.05-11.14-163.99-33.11c-50.17-21.22-95.22-51.6-133.91-90.29-38.69-38.69-69.07-83.75-90.29-133.91-21.97-51.94-33.11-107.11-33.11-163.99s11.14-112.05 33.11-163.99c21.22-50.17 51.6-95.22 90.29-133.91 38.69-38.69 83.75-69.07 133.91-90.29 51.94-21.97 107.11-33.11 163.99-33.11m0-1c-233.23 0-422.29 189.07-422.29 422.29S287.02 914.6 520.24 914.6s422.29-189.07 422.29-422.29S753.46 70.02 520.24 70.02z");
    //  offset-distance: 40%;
    transition: offset-distance 3s;
    }
    &:hover {
      .obj {
        offset-distance: 100%;
      }
    }
  }//svg
} 