.ex8 {
  width: 300px;
  border: 1px solid #000;
  margin: 30px auto;
}


.ex8 div {
  position: relative;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: tan;
  /* css에서 쓸때는 매번 변해야함내가 계속 바꿔서 입력해줘야된다는 소리야.계산에의해서 속성값이 계속 변할때는 css을 사용해야함(자스에서) */
  transition: left 1s;
}


.ex9 .container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 30px auto;
  border: 3px solid black;
}

.ex9 .container .start,
.ex9 .container .stop{
  position:absolute;
  z-index: 99;
  top: 250px;
  left:160px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

.ex9 .container  .start{
  left:90px;
}

.ex9 div .stop{

}

.ex9 .img1,
.ex9 .img2,
.ex9 .img3,
.ex9 .img4,
.ex9 .img5 {
  position: absolute;
}

