section.calc {
  height: 100%;
  display: flex;
  flex-direction: column;
  p.output {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    box-sizing: border-box;
    padding: 15px;
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    margin-bottom: 15px;
    border: 1px solid rgba(#fff, 0.1);
    background-color: rgba(#fff, 0.2);
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
    span{
     word-break: break-all; //띄어쓰기 안하고 쭉 쓸경우 알아서 줄내림
    }
    span::after {
      content: " |";
      font-weight: 100;
      animation: motion linear alternate infinite 0.5s;
    }
  }
  ul.btn-container {
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    &:hover {
      font-size: 0.8em;
    }
    li {
      width: 25%;
      height: 20%;
      font-size: 1.8em;
      font-weight: 900;
      box-sizing: border-box;
      padding: 7px;
      button {
        width: 100%;
        height: 100%;
        box-shadow: -2px -2px 2px rgba(#fff, 1), 2px 2px 2px rgba(#000, 0.1);
        transition: font-size 0.2s;
        &:active {
          //누르고 있는 동안
          box-shadow: -2px -2px 2px rgba(#000, 0.1), 2px 2px 2px rgba(#fff, 1);
          &:hover {
            font-size: 1.7em;
          }
        }
      }
    }
  }
}
