@use "./mixin" as m;

.comp-daily {
  .section-inner {
    padding-top: 0 !important;
    ul {
      li {
        padding: 5px;
        border-bottom: 1px solid rgba(#4378a3, 0.2);
        a {
          display: block;
          width: 100%;
          padding: 10px 0;
          text-align: left;
          .date {
            font-size: 0.9em;
            font-weight: 500;
            margin-bottom: 10px;
            span.desc {
              font-style: italic;
            }

            i {
              margin-right: 2px;
            }
            .fa-arrow-down {
              float: right;
            }
          }
          .info {
            img {
              display: inline-block;
              vertical-align: middle;
              margin-right: 15px;
              width: 50px;
            }
            span {
              margin-right: 10px;
              i {
                margin-right: 5px;
              }
              em {
                font-weight: 500;
              }
            }
          }
        } //a
        .detail {
          background-color: rgba(#0b3050, 0.5);
          color: #fff;
          padding: 10px;
        }
      } //li
    } //ul
  } //section-inner
} //comp-daily
