body {
  background-color: palegoldenrod;
}

.ex1 li {
  list-style: none;
}

.ex1 li::before {
  content:'· ';
}
/* 가상엘리먼트는 엘리먼트의 가장 앞쪽이나 뒤쪽에만 하나 만들수있는데 ::콜론을 두개쓰고 위처럼 비포아니면 에프터를 함
그리고 반드시 content를 쓰고 내가 사용할 거를'*'따옴표 안에 적어주면 됨
이걸 사용할때는 리스트의 에이전트스타일을 빼주고 내가 쓸거를 대신 써줘야되는거!! */