@use "./mixin" as m;

header {
  position: relative;
  height: 10%;
  border-bottom: 1px solid rgb(136, 28, 28, 0.1);
  img.pin {
    @include m.posLB(absolute, 51%, 10%, -50%, 0);
    height: 90%;
  }
  > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      height: 80%;
      img {
        height: 100%;
      }
    }
  }
  .logged-before {
  }
  .logged-after {
    .user {
      width: 45%;
      display: flex;
      align-items: center;

      img {
        width: 45px;
        height: 45px;
   
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
        box-sizing: border-box;
        border: 3px solid var(--beige);
      } //img
      span {
        flex: 1;
        overflow: hidden;
        em {
          margin-left: 5px;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.85em;
          letter-spacing: 0;
          &:first-child{
            color:var(--sky);
          }
          &:last-child{
            color:var(--green);
          }
        }
      }
    } //user
    .btns {
      display: flex;
      align-items: center;
      button {
        margin-left: 10px;
      }
    }
  }
}
