@use "mixin" as m;

.section-signin {
  form {
    width: 100%;
    .email-wrap {
      @include m.inputWrap("icons/icon-email.png", true);
    }
    .password-wrap {
      @include m.inputWrap("icons/icon-key.png", true);
    }
    .btn-wrap {
      @include m.inputWrap("icons/icon-email.png", true);
    }
    .remember-wrap {
      border-top: 2px dotted var(--green);
      padding: 10px 0;
      input:checked ~ label {
        img:first-child {
          display: none;
        }
        img:last-child {
          display: block;
        }
      }
      label {
        cursor: pointer;
        img {
          height: 35px;
          margin: 0 auto;
          &:last-child {
            display: none;
          }
        }
      } //label
    } //remember-wrap
    .password-email-wrap {
      text-align: center;
      button {
        padding: 7px 10px;
        background-color: var(--beige);
        border: 1px dotted var(--orange);
        &:hover {
          background-color: #fff;
        }
        &:active {
          animation: pulse 0.5s;
        }
        @keyframes pulse {
          0% {
            transform: scale3d(1, 1, 1);
          }
          25% {
            transform: scale3d(1.1, 1.1, 1.1);
          }
          50% {
            transform: scale3d(0.9, 0.9, 0.9);
          }
          75% {
            transform: scale3d(1.05, 1.05, 1.05);
          }
          100% {
            transform: scale3d(1, 1, 1);
          }
        }

        img {
          height: 30px;
        }
      }
    } //password-email-wrap
  } //form
} //section-signin
