@use "./mixin" as m;

.section-add{
  form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .date-wrap {
      @media #{m.$minSm} {
        width: 50%;
        padding-right: 5px;
      }
      @media #{m.$maxSm} {
        width: 100%;
      }
      box-sizing: border-box;
      @include m.inputWrap("icons/icon-calendar.png", false);
    }
    .time-wrap {
      @media #{m.$minSm} {
        width: 50%;
        padding-right: 5px;
      }
      @media #{m.$maxSm} {
        width: 100%;
      }
      box-sizing: border-box;
      @include m.inputWrap("icons/icon-clock.png", false);
    }
    .title-wrap {
      width: 100%;
      @include m.inputWrap("icons/icon-pencil.png", true);
    }
    .desc-wrap {
      width: 100%;
      @include m.inputWrap("icons/icon-balloon.png", true);
    }
    .photo-wrap {
      width: 100%;
      @include m.inputWrap("icons/icon-photo.png", true);
      label{
        padding: 10px;
      }
    }
    
  } //form
 
}
