@use "mixin" as m;

.section-signin {
  form {
    width: 100%;
    .email-wrap {
      @include m.inputWrap("icons/icon-email.png", true);
    }
    .password-wrap {
      @include m.inputWrap("icons/icon-key.png", true);
    }
    .btn-wrap {
      @include m.inputWrap("icons/icon-email.png", true);
    }
    .remember-wrap {
      border-top: 2px dotted var(--green);
      padding-bottom: 10px;
      input:checked ~ label {
        img:first-child {
          display: none;
        }
        img:last-child {
          display: block;
        }
      }
      label {
        cursor: pointer;
        img {
          height: 35px;
          margin: 0 auto;
          &:last-child {
            display: none;
          }
        }
      }
    }

  } //form
} //section-signin
