@use "./mixin" as m;

.section-home {
  position: relative;
  // transform: translateX(0);//크기 위치가 부모든 조상이든 트랜스폼이 있는 곳으로 감
  .scroll-wrap {
    position: relative;
    ul {
      li {
        position: relative;
        opacity: 0;
        animation: show 1s;
        animation-delay: 0.5s;
        animation-fill-mode: both;
        &.completed {
          a {
            filter: brightness(30%) blur(1px) sepia(100%);
            background-color: #fff;
            pointer-events: none;
          }
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: calc(80% - 50px);
            bottom: 10%;
            background-image: url(../assets/img/list/completed.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0.5;
          }
        }
        @keyframes show {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        &:nth-child(even) {
          background-color: var(--beige);
        }
        a {
          position: relative;
          display: flex;
          align-items: center;
          padding: 15px 5px;
          padding-top: 50px;
          background-image: url(../assets/img/list/line-dashed.png);
          background-size: contain;
          background-position: center bottom;
          background-repeat: no-repeat;
          .thumbnail {
            width: 60px;
            height: 60px;
            padding: 5px;
            object-fit: cover;
            object-position: center;
            margin-right: 10px;
            box-sizing: border-box;
            background-color: var(--beige);
          } //thumbmail
          .metabox {
            width: calc(100% - 70px);
            p {
              display: flex;
              em,
              time {
                display: flex;
                align-items: center;
                margin-right: 10px;

                img {
                  margin-right: 5px;
                }
              }
              time {
                font-size: 0.9em;
                letter-spacing: 0em;
              }
              .date {
                color: var(--green);
              }
              .time {
                color: var(--sky);
              }
              .title {
                display: block;
                max-width: 300px;
                color: #000;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                img {
                  display: inline-block;
                }
              }
            }
          }
          .more {
            @include m.posRT(absolute, 5px, 50%, 0, -50%);
            @media #{m.$maxSm} {
              display: none;
            }
          } //more
          &:hover {
            background-color: rgba(#fff, 0.2);
          }
        } //a
        .btns {
          position: absolute;
          top: 10px;
          left: 0;
          width: 100%;
          text-align: center;
          button {
            width: 40px;
            margin: 0 5px;
            &:active {
              animation: pulse 0.5s;
            }
            &:hover {
            }
            img {
              width: 100%;
            }
          }
        }
      } //li
    } //ul
    .no-list {
      @include m.posLT(absolute, 50%, 50%, -50%, -50%);
    } //img
    .scroll-trigger {
      height: 80px;
    }
  } //scroll-wrap
  .search-form {
    position: absolute;
    overflow: hidden;
    left: 5%;
    bottom: 11%;
    width: 90%;
    height: 0px;
    border-radius: 10px 10px 0 0;
    transition: all 0.5s;
    &.active {
      height: 50px;
    }
    input {
      color: rgba(#fff, 0.5);
      width: 100%;
      height: 50px;
      padding: 0 10px;
      border: none;
      outline: none;
      text-align: center;
      box-sizing: border-box;
      background-color: rgba(#000, 0.8);
    }
  }
} //section-home
