.section-signin form {
  width: 100%;
}
.section-signin form .email-wrap {
  position: relative;
  margin: 10px 0;
  display: block;
}
.section-signin form .email-wrap::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  transform: translate(0, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/img/icons/icon-email.png);
}
.section-signin form .email-wrap input:not([type=checkbox], [type=radio]),
.section-signin form .email-wrap textarea {
  outline: none;
  width: 100%;
  padding: 10px;
  background: var(--beige);
  border: 1px dotted var(--orange);
}
.section-signin form .email-wrap input:not([type=checkbox], [type=radio])::placeholder,
.section-signin form .email-wrap textarea::placeholder {
  color: #ffc876;
}
.section-signin form .email-wrap input:not([type=checkbox], [type=radio]):focus,
.section-signin form .email-wrap textarea:focus {
  background-color: #fff;
}
.section-signin form .email-wrap input:not([type=checkbox], [type=radio])[type=date]::-webkit-calendar-picker-indicator, .section-signin form .email-wrap input:not([type=checkbox], [type=radio])[type=time]::-webkit-calendar-picker-indicator,
.section-signin form .email-wrap textarea[type=date]::-webkit-calendar-picker-indicator,
.section-signin form .email-wrap textarea[type=time]::-webkit-calendar-picker-indicator {
  width: 30px;
  height: 30px;
  background-image: url(../assets/img/icons/icon-email.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.section-signin form .email-wrap input:not([type=checkbox], [type=radio])[type=file] ~ label,
.section-signin form .email-wrap textarea[type=file] ~ label {
  display: block;
  padding: 10px;
  cursor: pointer;
  background-color: var(--beige);
  border: 1px dotted var(--orange);
  color: #ffc876;
}
.section-signin form .email-wrap input:not([type=checkbox], [type=radio])[type=file] ~ label:hover,
.section-signin form .email-wrap textarea[type=file] ~ label:hover {
  background-color: #FFF;
  color: var(--orange);
}
.section-signin form .email-wrap textarea {
  display: block;
  height: 200px;
  resize: none;
}
.section-signin form .email-wrap button,
.section-signin form .email-wrap a {
  display: block;
  margin: 0 auto;
}
.section-signin form .email-wrap button:active,
.section-signin form .email-wrap a:active {
  animation: pulse 0.5s;
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  75% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.section-signin form .email-wrap button img,
.section-signin form .email-wrap a img {
  height: 50px;
}
.section-signin form .password-wrap {
  position: relative;
  margin: 10px 0;
  display: block;
}
.section-signin form .password-wrap::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  transform: translate(0, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/img/icons/icon-key.png);
}
.section-signin form .password-wrap input:not([type=checkbox], [type=radio]),
.section-signin form .password-wrap textarea {
  outline: none;
  width: 100%;
  padding: 10px;
  background: var(--beige);
  border: 1px dotted var(--orange);
}
.section-signin form .password-wrap input:not([type=checkbox], [type=radio])::placeholder,
.section-signin form .password-wrap textarea::placeholder {
  color: #ffc876;
}
.section-signin form .password-wrap input:not([type=checkbox], [type=radio]):focus,
.section-signin form .password-wrap textarea:focus {
  background-color: #fff;
}
.section-signin form .password-wrap input:not([type=checkbox], [type=radio])[type=date]::-webkit-calendar-picker-indicator, .section-signin form .password-wrap input:not([type=checkbox], [type=radio])[type=time]::-webkit-calendar-picker-indicator,
.section-signin form .password-wrap textarea[type=date]::-webkit-calendar-picker-indicator,
.section-signin form .password-wrap textarea[type=time]::-webkit-calendar-picker-indicator {
  width: 30px;
  height: 30px;
  background-image: url(../assets/img/icons/icon-key.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.section-signin form .password-wrap input:not([type=checkbox], [type=radio])[type=file] ~ label,
.section-signin form .password-wrap textarea[type=file] ~ label {
  display: block;
  padding: 10px;
  cursor: pointer;
  background-color: var(--beige);
  border: 1px dotted var(--orange);
  color: #ffc876;
}
.section-signin form .password-wrap input:not([type=checkbox], [type=radio])[type=file] ~ label:hover,
.section-signin form .password-wrap textarea[type=file] ~ label:hover {
  background-color: #FFF;
  color: var(--orange);
}
.section-signin form .password-wrap textarea {
  display: block;
  height: 200px;
  resize: none;
}
.section-signin form .password-wrap button,
.section-signin form .password-wrap a {
  display: block;
  margin: 0 auto;
}
.section-signin form .password-wrap button:active,
.section-signin form .password-wrap a:active {
  animation: pulse 0.5s;
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  75% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.section-signin form .password-wrap button img,
.section-signin form .password-wrap a img {
  height: 50px;
}
.section-signin form .btn-wrap {
  position: relative;
  margin: 10px 0;
  display: block;
}
.section-signin form .btn-wrap::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  top: 0;
  transform: translate(0, -50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/img/icons/icon-email.png);
}
.section-signin form .btn-wrap input:not([type=checkbox], [type=radio]),
.section-signin form .btn-wrap textarea {
  outline: none;
  width: 100%;
  padding: 10px;
  background: var(--beige);
  border: 1px dotted var(--orange);
}
.section-signin form .btn-wrap input:not([type=checkbox], [type=radio])::placeholder,
.section-signin form .btn-wrap textarea::placeholder {
  color: #ffc876;
}
.section-signin form .btn-wrap input:not([type=checkbox], [type=radio]):focus,
.section-signin form .btn-wrap textarea:focus {
  background-color: #fff;
}
.section-signin form .btn-wrap input:not([type=checkbox], [type=radio])[type=date]::-webkit-calendar-picker-indicator, .section-signin form .btn-wrap input:not([type=checkbox], [type=radio])[type=time]::-webkit-calendar-picker-indicator,
.section-signin form .btn-wrap textarea[type=date]::-webkit-calendar-picker-indicator,
.section-signin form .btn-wrap textarea[type=time]::-webkit-calendar-picker-indicator {
  width: 30px;
  height: 30px;
  background-image: url(../assets/img/icons/icon-email.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.section-signin form .btn-wrap input:not([type=checkbox], [type=radio])[type=file] ~ label,
.section-signin form .btn-wrap textarea[type=file] ~ label {
  display: block;
  padding: 10px;
  cursor: pointer;
  background-color: var(--beige);
  border: 1px dotted var(--orange);
  color: #ffc876;
}
.section-signin form .btn-wrap input:not([type=checkbox], [type=radio])[type=file] ~ label:hover,
.section-signin form .btn-wrap textarea[type=file] ~ label:hover {
  background-color: #FFF;
  color: var(--orange);
}
.section-signin form .btn-wrap textarea {
  display: block;
  height: 200px;
  resize: none;
}
.section-signin form .btn-wrap button,
.section-signin form .btn-wrap a {
  display: block;
  margin: 0 auto;
}
.section-signin form .btn-wrap button:active,
.section-signin form .btn-wrap a:active {
  animation: pulse 0.5s;
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  75% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.section-signin form .btn-wrap button img,
.section-signin form .btn-wrap a img {
  height: 50px;
}
.section-signin form .remember-wrap {
  border-top: 2px dotted var(--green);
  padding: 10px 0;
}
.section-signin form .remember-wrap input:checked ~ label img:first-child {
  display: none;
}
.section-signin form .remember-wrap input:checked ~ label img:last-child {
  display: block;
}
.section-signin form .remember-wrap label {
  cursor: pointer;
}
.section-signin form .remember-wrap label img {
  height: 35px;
  margin: 0 auto;
}
.section-signin form .remember-wrap label img:last-child {
  display: none;
}
.section-signin form .password-email-wrap {
  text-align: center;
}
.section-signin form .password-email-wrap button {
  padding: 7px 10px;
  background-color: var(--beige);
  border: 1px dotted var(--orange);
}
.section-signin form .password-email-wrap button:hover {
  background-color: #fff;
}
.section-signin form .password-email-wrap button:active {
  animation: pulse 0.5s;
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  25% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  50% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  75% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.section-signin form .password-email-wrap button img {
  height: 30px;
}/*# sourceMappingURL=section-signin.css.map */