@use "mixin" as m;

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark-color);
  .top {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid #666;
    // padding: 80px 0;
    @media #{m.$minLg} {
      padding: 80px 0;
    }
    @media #{m.$maxLg} {
      padding: 50px 0;
    }
    h6 {
      position: relative;
      margin: 0 auto;
      // width: 180px;
      @media #{m.$minLg} {
        width: 170px;
      }
      @media #{m.$maxLg} {
        width: 130px;
      }
      svg {
        width: 100%;
        &:first-child {
          * {
            stroke: #666;
          }
        }
        &:last-of-type {
          position: absolute;
          top: 0;
          left: 0;
          * {
            stroke: #ccc;
            stroke-dasharray: 1;
            animation: stroke 10s infinite linear;
          }
        }
        * {
          fill: none;
          stroke-width: 5px;
        }
      }
      img {
        width: 100%;
        filter: brightness(200%);
      }
    }
  }
  .bottom {
    width: min(95%, 1400px);
    margin: 0 auto;
    padding: 40px 0;
    color:#999;
    font-size: 0.65em;
    text-transform: uppercase;
    p{
      display: inline-block;
      padding:5px 10px;
      background-color: #222;
      border-radius: 5px;
    }
    @media #{m.$minLg} {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a{
        margin-left: 10px;
      }
    }
    @media #{m.$maxLg} {
      text-align: center;
      .fnb{
        margin-bottom: 10px;
        a{
          display: inline-block;
          margin: 2px 3px;
        }
      }
    }
  }
}
//섹션들을 한번에 묶어서 지인덱스를 주면 됨
//시멘틱을 준수하라 수 있고 한번에 가능하고
