@use "mixin" as m; //요즘은 import대신 use사용 권장

.shortcut {
  position: relative;
  padding: 50px 0;
  background-size: cover;
  overflow: hidden;
  .center {
    position: relative;
    width: min(95%, 500px);
    margin: 0 auto;
    p {
      img {
        width: 100%;
      }
    }
    a {
      img {
        margin: 0 auto;
      }
    }
  }
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url(../img/shortcut/shortcut1_bg.jpg);
    filter: url(#ripple); /*가장자리가 다 보이니까 트랜스폼으로 키워놓고  부모에서는 오버플로우히든*/
    transform: scale(1.2);
  }
}
