
/* .container {
  display: flex;
  justify-content: center;
  background-color: tomato;

}

.container span{
  width: 100px;
  height: 100px;
  background-color: teal;
  text-align: center;
  line-height: 100px;
} */



/* .container {
  background-color: tomato;
  text-align: center;
}

.container span {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: teal;
} */