@charset "UTF-8";
section.dday {
  position: relative;
  display: flex;
  flex-direction: column;
}
section.dday article.dday-list {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
section.dday article.dday-list::before {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/timer-icon-bg.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  mix-blend-mode: overlay;
  opacity: 0.7;
  filter: grayscale(0.8) brightness(60%);
}
section.dday article.dday-list .filter-btn {
  position: absolute;
  z-index: 10;
  left: -3%;
  top: -3%;
  width: 40px;
  height: 40px;
  font-size: 1.1em;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  text-shadow: -2px -2px 1px rgb(255, 255, 255), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -2px -2px 5px rgb(255, 255, 255), 3px 3px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}
section.dday article.dday-list .filter-btn:hover {
  font-size: 1.4em;
}
section.dday article.dday-list .filter-btn i:last-child {
  display: none;
}
section.dday article.dday-list .filter-btn.active {
  color: rgba(0, 0, 0, 0.5);
}
section.dday article.dday-list .filter-btn.active i:first-child {
  display: none;
}
section.dday article.dday-list .filter-btn.active i:last-child {
  display: block;
}
section.dday article.dday-list .filter-form {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(-100%);
  transition: transform 1s;
}
section.dday article.dday-list .filter-form.active {
  transform: translateY(0%);
}
section.dday article.dday-list .filter-form fieldset {
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
section.dday article.dday-list .filter-form fieldset legend {
  padding: 5px 10px;
  font-size: 0.9em;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
}
section.dday article.dday-list .filter-form fieldset button {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
  outline: none;
  box-shadow: -2px -2px 5px rgb(255, 255, 255), 3px 3px 5px rgba(0, 0, 0, 0.1);
  background: #fff;
}
section.dday article.dday-list .filter-form fieldset button:active {
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday article.dday-list .filter-form fieldset input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday article.dday-list .filter-form fieldset input:focus {
  background: #000;
  color: #fff;
}
section.dday article.dday-list > ul {
  /* 
  flex:1 ->이 세가지를 합친것. flex-grow:1 남은 너비를 가짐, flex-shrink:1 부모를 넘는 너비를 갖지 못함, flex-basis:auto;기본너비. 오토를 주면 알아서 가져
  */
  overflow: auto;
  position: relative;
  flex: 1 0 1px;
  overflow: auto;
  margin: 15px 0;
}
section.dday article.dday-list > ul > li {
  padding: 15px 5px;
  border-bottom: 2px groove rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}
section.dday article.dday-list > ul > li.active {
  background-color: rgba(255, 192, 203, 0.5);
}
section.dday article.dday-list > ul > li.deactive {
  background-color: rgba(0, 0, 0, 0.5);
}
section.dday article.dday-list > ul > li div.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.dday article.dday-list > ul > li div.meta h3 {
  max-width: 50%;
  font-weight: 600;
  font-size: 1.1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section.dday article.dday-list > ul > li div.meta p time {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
section.dday article.dday-list > ul > li div.meta p time em,
section.dday article.dday-list > ul > li div.meta p time small {
  margin: 0 2px;
}
section.dday article.dday-list > ul > li div.meta p time small {
  font-size: 0.8em;
  font-weight: 800;
  text-transform: uppercase;
}
section.dday article.dday-list > ul > li > ul.timer-output {
  margin-top: 10px;
  display: flex;
}
section.dday article.dday-list > ul > li > ul.timer-output > li {
  flex: 1;
  padding: 5px;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure {
  position: relative;
  margin-bottom: 5px;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure svg {
  transform: rotate(-90deg);
  width: 100%;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure svg circle {
  fill: none;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure svg circle:nth-child(1) {
  stroke-width: 2;
  stroke: rgba(0, 0, 0, 0.1);
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure svg circle:nth-child(2) {
  stroke-width: 5;
  stroke: #fff;
}
section.dday article.dday-list > ul > li > ul.timer-output > li figure figcaption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: 900;
}
section.dday article.dday-list > ul > li > ul.timer-output > li p {
  text-align: center;
  font-size: 0.8em;
}
section.dday article.dday-list > ul > li > ul.timer-output > li p em {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}
section.dday .no-msg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  font-weight: 600;
  font-size: 1.1em;
}
section.dday .btn-add {
  width: 100%;
  padding: 10px 0;
  outline: none;
  border-radius: 25px;
  box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.8), 3px 3px 15px rgba(0, 0, 0, 0.2);
}
section.dday .btn-add img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 30px;
  mix-blend-mode: overlay;
  filter: grayscale(1);
}
section.dday .btn-add:focus {
  background: rgba(255, 255, 255, 0.1);
}
section.dday .btn-add:active {
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday form.dday-add {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.dday form.dday-add p {
  padding: 15px 0;
  border-top: 2px groove rgba(255, 255, 255, 0.2);
}
section.dday form.dday-add p label {
  display: block;
  margin-bottom: 10px;
}
section.dday form.dday-add p input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  outline: none;
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday form.dday-add p input:focus {
  background: rgba(255, 255, 255, 0.8);
}
section.dday form.dday-add p input::placeholder {
  color: inherit;
}
section.dday form.dday-add p input::-webkit-calendar-picker-indicator {
  filter: invert(10%);
  mix-blend-mode: color-burn;
}
section.dday form.dday-add button {
  width: 100%;
  margin-top: 15px;
  padding: 10px 0;
  outline: none;
  border-radius: 25px;
  box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.8), 3px 3px 15px rgba(0, 0, 0, 0.2);
}
section.dday form.dday-add button:focus {
  background: rgba(255, 255, 255, 0.1);
}
section.dday form.dday-add button:active {
  box-shadow: inset -2px -2px 5px rgb(255, 255, 255), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
}
section.dday form.dday-add .fa-arrow-left {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  line-height: 40px;
  text-align: center;
  font-size: 1.1em;
  border-radius: 20px;
  box-shadow: -2px -2px 10px rgb(255, 255, 255), 3px 3px 15px rgba(0, 0, 0, 0.2);
  text-shadow: -1px -1px 1px rgb(255, 255, 255), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
section.dday form.dday-add .fa-arrow-left:hover {
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2), 3px 3px 5px rgb(255, 255, 255);
  cursor: pointer;
}
section.dday form.dday-add .fa-arrow-left:hover.active {
  transform: scale(1.2);
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2), 3px 3px 5px rgb(255, 255, 255);
}
section.dday div.now {
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
}
section.dday div.now time {
  display: block;
}
section.dday div.now time b,
section.dday div.now time small {
  margin: 0 3px;
}
section.dday div.now time small {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}/*# sourceMappingURL=comp-dday.css.map */