@use "./mixin" as m;

section.dday {
  position: relative;
  display: flex;
  flex-direction: column;
  h2{
    padding-bottom: 20px;
    border-bottom: 2px groove rgba(#fff, 0.2);
  }
  article.dday-list {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    &::before {
      pointer-events: none;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../assets/img/timer-icon-bg.gif);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      mix-blend-mode: overlay;
      opacity: 0.7;
      filter: grayscale(0.8) brightness(60%);
    } //before

    .filter-btn {
      position: absolute;
      z-index: 10;
      left: -4%;
      top: -2%;
      width: 40px;
      height: 40px;
      font-size: 1.1em;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      text-shadow: -2px -2px 1px rgba(255, 255, 255, 1), -1px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.5s;
      &:hover {
        font-size: 1.4em;
      }
      i:last-child {
        display: none;
      }
      &.active {
        // background-color: rgba(#FFF, 0.5);
        color: rgba(#000, 0.5); //이부분 수정할것
        i:first-child {
          display: none;
        }
        i:last-child {
          display: block;
        }
      }
    } //filter-btn

    .filter-form {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      padding: 15px;
      width: 100%;
      height: 100%;
      background-color: rgba(#fff, 0.8);
      transform: translateY(-100%);
      transition: transform 1s;
      &.active {
        transform: translateY((0%));
      }
      fieldset {
        margin-bottom: 15px;
        padding: 13px;
        background-color: rgba(#000, 0.3);
        border-radius: 10px;
        // border: 1px solid rgba(#000,0.3);
        legend {
          padding: 7px 15px;
          font-size: 0.9em;
          background-color: rgba(#000, 0.7);
          color: #fff;
          border-radius: 20px;
        } //legend
        button {
          width: 100%;
          margin-top: 10px;
          padding: 10px 0;
          outline: none;
          border-radius: 30px;
          box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.4);
          background: #fff;
          &:active {
            box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.3);
          } //button:active
        } //button

        input {
          width: 100%;
          box-sizing: border-box;
          border-radius: 30px;
          padding: 10px;
          border: none;
          outline: none;
          box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.2);
          &:focus {
            background: #000;
            color: #fff;
          }
        } //input
      } //fieldset
    } //filter-form

    > ul {
      /* 
      flex:1 ->이 세가지를 합친것. flex-grow:1 남은 너비를 가짐, flex-shrink:1 부모를 넘는 너비를 갖지 못함, flex-basis:auto;기본너비. 오토를 주면 알아서 가져
      */
      overflow: auto;
      position: relative;
      flex: 1 0 1px;
      overflow: auto; //오버플로우가 적용이 되었을때만.
      margin: 15px 0;
      > li {
        &.active {
          background-color: rgba(pink, 0.5);
        }
        &.deactive {
          background-color: rgba(#000, 0.5);
        }
        padding: 10px 5px;
        border-bottom: 2px groove rgba(#fff, 0.5); //2px이상 넣어야 그루브 들어감
        border-radius: 5px;
        div.meta {
          display: flex;
          align-items: center;
          justify-content: space-between;
          h3 {
            max-width: 50%;
            font-weight: 600;
            font-size: 1.1em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; //너무 길면 ...으로 나오도록
          }
          p {
            time {
              display: block; //인라인블럭이니까 바꿔줌
              text-align: center;
              font-size: 0.8em;
              em,
              small {
                margin: 0 2px;
              }
              small {
                font-size: 0.8em;
                font-weight: 800;
                text-transform: uppercase;
              }
            }
          }
        }
        > ul.timer-output {
          margin-top: 10px;
          display: flex;
          > li {
            flex: 1;
            padding: 5px;
            figure {
              position: relative;
              margin-bottom: 5px;
              svg {
                transform: rotate(-90deg);
                width: 100%;
                circle {
                  // transition: all 0.5s; //stroke-dashoffset 이거 트랜지션 되는지 확인해볼것
                  fill: none;
                  &:nth-child(1) {
                    stroke-width: 2;
                    stroke: rgba(#000, 0.1);
                  }
                  &:nth-child(2) {
                    stroke-width: 5;
                    stroke: #fff;
                  }
                } //circle
              } //svg
              figcaption {
                @include m.posLT(absolute, 50%, 50%, -50%, -50%);
                font-size: 1.5em;
                font-weight: 900;
              }
            } //figure
            p {
              text-align: center;
              font-size: 0.8em;
              em {
                display: block;
                font-weight: 600;
                text-transform: uppercase;
              }
            } //p
          }
        } //timer-output
      } //li
    } //ul
  } //article.dday-list

  .no-msg {
    @include m.posLT(absolute, 50%, 50%, -50%, -50%);
    text-align: center;
    width: 90%;
    font-weight: 600;
    font-size: 1.1em;
  }

  .btn-add {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border-radius: 25px;
    box-shadow: -1px -1px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.2);

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 30px;
      mix-blend-mode: overlay; // exclusion
      filter: grayscale(1); //brightness(150%)
    }

    &:focus {
      background: rgba(#fff, 0.1);
    }
    &:active {
      box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
    } //button:active
  } //btn-add

  form.dday-add {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      padding: 15px 0;
      border-top: 2px groove rgba(#fff, 0.2);
      label {
        display: block;
        margin-bottom: 10px;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border: none;
        background: rgba(#fff, 0.4);
        outline: none;
        box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
        &:focus {
          background: rgba(#fff, 0.8);
        }
        &::placeholder {
          color: inherit;
        }
        &::-webkit-calendar-picker-indicator {
          filter: invert(10%);
          mix-blend-mode: color-burn;
        }
      }
    }

    button {
      width: 100%;
      margin-top: 15px;
      padding: 10px 0;
      outline: none;
      border-radius: 25px;
      box-shadow: -2px -2px 10px rgba(255, 255, 255, 1), 3px 3px 10px rgba(0, 0, 0, 0.3);

      &:focus {
        background: rgba(#fff, 0.1);
      }
      &:active {
        box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1), inset 3px 3px 5px rgba(0, 0, 0, 0.1);
      } //button:active+
    }
    .fa-arrow-left {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin: 20px auto;
      line-height: 40px;
      text-align: center;
      font-size: 1.1em;
      border-radius: 20px;
      box-shadow: -2px -2px 10px rgba(255, 255, 255, 1), 3px 3px 10px rgba(0, 0, 0, 0.3);
      text-shadow: -1px -1px 1px rgba(255, 255, 255, 1), -1px 1px 1px rgba(0, 0, 0, 0.1);
      transition: all 0.5s;
      &:hover {
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2), 3px 3px 5px rgba(255, 255, 255, 1);
        cursor: pointer;
        &.active {
          transform: scale(1.2);
          box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2), 3px 3px 5px rgba(255, 255, 255, 1);
        }
      }
    }
  } //form.dday-add

  div.now {
    text-align: center;
    padding: 10px;
    background-color: rgba(#000, 0.5);
    border-radius: 5px;
    color: #fff;
    time {
      display: block;
      b,
      small {
        margin: 0 3px;
      }
      small {
        font-size: 0.9em;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
} //section.dday
