body {
  color: #666;
  font-family: 'Montserrat', 'Gowun Dodum', 'Noto Sans KR', sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

// :root {
//   --blue: #00aae5;
//   --orange: #f68b1e;
//   --green: #8cc63f;
// }

html {
  margin-top: 0 !important;
}

#wpadminbar {
  display: none;
}

body {
  height: 100vh;

  &.gray {
    background-color: #d4d4d4;
    #root {
      background: linear-gradient(#eeeeee, #d9d9d9, #d9d9d9);
      color: #878787;
      //스크롤바스타일
      article.dday-list ul {
        @media (hover: hover) {
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar {
            width: 6px;
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #999;
          }
        }
      } //스크롤바 스타일 끝
    } //root
  }

  &.purpleblue {
    background-color: #d6dafb;
    #root {
      background: linear-gradient(#e2e3f6, #dcdff8, #d3d7f9);
      color: #9195c8;
      //스크롤바스타일
      article.dday-list ul {
        @media (hover: hover) {
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #dde0fa;
          }
          &::-webkit-scrollbar {
            width: 6px;
            background-color: #d0d5fd;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #868ab6;
          }
        }
      } //스크롤바 스타일 끝   //실제 핸드폰에서는 적용되지않는 경우가 다반사.에뮬레이터에서만 거의 된다고 보면 됨 미디어쿼리가 폴스가 됨. 모바일에서는.
    } //root
  }

  &.beige {
    background-color: #f4e8da;
    #root {
      background: linear-gradient(#efebe8, #f4ece3, #f1e8dd);
      color: #aea8a1;
      //스크롤바스타일
      article.dday-list ul {
        @media (hover: hover) {
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar {
            width: 6px;
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #eacfae;
          }
        }
      } //스크롤바 스타일 끝
    } //root
  }

  #root {
    position: fixed;
    width: min(90%, 450px);
    height: min(90%, 700px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid #dfdfdf;
    border-radius: 40px;
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8), 10px 10px 35px rgba(0, 0, 0, 0.2);

    section {
      min-height: 100%;
      box-sizing: border-box;
      padding: 15px;
      h1,
      h2 {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 1.7em;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5), 2px 2px 1px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
    } //section
    .filter-btn {
      z-index: 10;
      position: fixed;
      left: 4%;
      top: 2%;
      width: 40px;
      height: 40px;
      font-size: 1.1em;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      text-shadow: -1px -1px 1px rgba(255, 255, 255, 1), -1px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.3);
      &:hover {
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2), 3px 3px 5px rgba(255, 255, 255, 1);
      }
    }
    .back-btn {
      z-index: 10;
      position: absolute;
      right: 4%;
      top: 2%;
      width: 40px;
      height: 40px;
      font-size: 1.1em;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      text-shadow: -1px -1px 1px rgba(255, 255, 255, 1), -1px 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.3);
      transition: all 0.5s;
      &:hover {
        box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2), 3px 3px 5px rgba(255, 255, 255, 1);
      }
    }
  }
}

@keyframes motion {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
