@use "mixin" as m;

.section3 {
  position: relative;
  height: calc(100vh - var(--header-height));
  overflow: hidden;
  .bg {
    height: 100%;
    background-image: url(../img/section3/seciton3_bg.jpg);
    background-position: center;
    background-size: cover;
  }
  .gooey {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    filter: url(#goo);
    opacity: 0.8;
    // background-color: green; 있으면 절대 노노
    div {
      position: absolute;
      @include m.square;
      border-radius: 50%;
      background: radial-gradient(at 20% 20%, #fff, #00f);
      animation-name: bubble;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  .section3_text {
    pointer-events: none;
    width: min(90%,900px);//원래이미지 사이즈맞춰서 1000이니까 900정도 넣음
    @include m.posLT(absolute, 50%, 50%, -50%, -50%);
  }
}
