/* --- sub_visual --- */

.sub_visual {
  background-color: #000;
  position: relative;
}

.sub_visual figure {
  position: relative;
  height: 100%;
}

.sub_visual figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
}

.sub_visual figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 400px;
  text-align: center;
  color: #DDD;
  transform: translate(-50%, -50%);
}

.sub_visual figure figcaption h5,
.sub_visual figure figcaption p {
  transition: all 1.5s;
}

.sub_visual figure figcaption h5 {
  font-size: 3.2em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

.sub_visual figure figcaption p {
  font-weight: 400;
}

/* --- motion --- */
.sub_visual figure figcaption h5,
.sub_visual figure figcaption p {
  opacity: 0;
}

.sub_visual figure figcaption h5 {
  transform: translateY(-90%);
}

.sub_visual figure figcaption p {
  opacity: 0;
  transform: translateY(90%);
}

.sub_visual figure.active figcaption h5,
.sub_visual figure.active figcaption p {
  opacity: 1;
  transform: translateY(0);
}


@media screen and (min-width:1000px) {
  .sub_visual {
    height: 450px;
  }
}

@media screen and (max-width:1000px) {
  .sub_visual {
    height: 300px;
  }
}

/* --- sub_center --- */

.sub_center {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  margin: 30px auto;

}

@media screen and (min-width:1000px) {
  .sub_center {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

}

/* --- sidebar --- */

.sidebar {
  position: sticky;

  z-index: 1;
}

.snb>ul>li {
  display: none;
}


@media screen and (min-width:1000px) {
  .sidebar {
    width: 19%;
    top: 130px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px #DDD;
    box-sizing: border-box;
    padding: 20px;
  }

 
  .snb h6 {
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px;
    margin-bottom: 10px;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }

  .snb>ul>li>ul>li>a {
    display: block;
    padding: 10px;
    font-size: 0.9em;
    border-bottom: 1px dotted #CCC;
  }

  .snb>ul>li>ul>li:hover>a {
    color: var(--point-color);
  }

  .snb>ul>li>ul>li>a.active {
    background-color: var(--sub2-color);
    color: var(--point-color);
  }

}

@media screen and (max-width:1000px) {
  .sidebar {
    margin-bottom: 30px;
    top: 70px;
  }

  .snb>ul>li>h6 {
    display: none;
  }

  .snb>ul>li>ul {
    display: flex;
    height: 50px;
    z-index: 10;
  }

  .snb>ul>li>ul>li {
    flex: 1;
    margin-left: -1px;
    overflow: hidden;
    border: 1px solid var(--sub2-color);
  }

  .snb>ul>li>ul>li>a.active {
    background-color: var(--main-color);
  }

  .snb>ul>li>ul>li>a:hover {
    background-color: var(--main-color);
  }

  .snb>ul>li>ul>li>a {
    display: block;
    height: 100%;
    padding: 0 10px;
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 50px;
    background-color: var(--sub-color);
    color: #FFF;
    transition: background-color 0.3s;
  }
}

/* --- sub_content --- */

.sub_content {
  position: relative;
  z-index: 0;
  border-radius: 15px;
  box-shadow: 5px 5px 20px #DDD;
  box-sizing: border-box;
  padding: 25px;
}

.breadcrumb {
  display: flex;
  float: right;
  align-items: center;
}

.breadcrumb li::after {
  content: '>';
  margin: 0 10px;
}

.breadcrumb li {
  font-size: 0.8em;
  color: var(--dark-color);
}

.breadcrumb li.dep2 {
  font-weight: 600;
  color: var(--point-color);
}

.breadcrumb li:last-child:after {
  display: none;
}

@media screen and (min-width:1000px) {
  .sub_content {
    width: 78%;
    min-height: 500px;
  }
}

@media screen and (max-width:1000px) {
  .breadcrumb {
    display: none;
  }
}

/* --- motion ---*/

.snb>ul>li {
  opacity: 0;
  transform: translateY(10%);
  transition: all 1s;

}

.snb>ul>li.active {
  opacity: 1;
  transform: translateY(0%);
}


/* sub_title */

h2.sub_title {
  font-size: 1.1em;
  font-weight: 500;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding-bottom: 8px;
  margin-bottom: 40px;
}

@media screen and (max-width:1000px) {
  .sub_title {
    display: none;
  }
}

/* motion */
.sub_title {
  opacity: 0;
  transform: translateY(30%);
  transition: all 1s;
}

.sub_title.active {
  opacity: 1;
  transform: translateY(0%);
}


/* --- hidden --- */

.snb ul>li>a>span {
  display: none;
}

.sub_visual figure {
  display: none;
}