@use "./mixin" as m;

html {
  --sky: #8ed1f1;
  --color: #4b87b6;
}

body {
  color: var(--color);
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: var(--sky);
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/main/weather-icos.gif);
    opacity: 0.3;
    background-size: 1000px;
    animation: bg 5000s linear infinite;
    @keyframes bg {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -50000px -50000px;
      }
    }
  }
}
h1 {
  perspective: 700px;
  position: absolute;
  left: 50%;
  top: 2%;
  width: min(40%, 200px);
  transform: translateX(-50%); //수평중앙
  img {
    width: 100%;
    opacity: 0.5;
    animation: rotate 7s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  @keyframes rotate {
    0%{
      transform: rotateX(0deg)
    }50%{
      transform: rotateX(360deg)
    }
    100%{
      transform: rotateX(360deg)

    }
  }
}

#root {
  @include m.posLT(absolute, 50%, 50%, -50%, -48%);
  width: min(95%, 1000px);
  height: min(85%, 800px);
  background-color: rgba(#fff, 0.7);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(#fff, 0.7);
  animation: grow 2s infinite alternate;
  @keyframes grow {
    0% {
      box-shadow: 0 0 5px 0px rgba(#fff, 0.3);
    }
    100% {
      box-shadow: 0 0 15px 10px rgba(#fff, 0.7);
    }
  }
  > div.app-inner {
    height: 100%;
    @media screen and (min-width: 900px) {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    @media screen and (max-width: 900px) {
      overflow: hidden;
      overflow-y: auto;
    }
    section {
      box-sizing: border-box;
      padding: 10px;

      @media screen and (min-width: 900px) {
        height: 50%;
        width: 50%;
      }
      @media screen and (max-width: 900px) {
        margin: 20px 0;
      }
      .section-inner {
        @media screen and (min-width: 900px) {
          //스크롤바 생긴다는 뜻
          height: 100%;
          overflow: auto;
        }
      } //section-inner
    } //section
  } //inner 안으로 스크롤바 만들려고 미디어를 안으로 줌
} //root 여기 스크롤바 달 예정

.app-inner,
.section-inner {
  @media (hover: hover) {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color);
    }
  } //media hover
}
