body {
  /*   background-color: palevioletred; */
}

h1 {
  width: 300px;
  background-color: aquamarine;
}

.section1 span,
.section1 b {
  background-color: antiquewhite;
  width: 300px;
}

.ex1 span {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  background-color: teal;

}

.ex1 span:nth-of-type(1) {
  height: 150px;
  line-height: 150px;
  text-align: right;
}

.ex1 span:nth-of-type(2) {
  height: 100px;
  line-height: 100px;
  text-align: start;
}

.ex1 span:nth-of-type(3) {
  height: 50px;
  line-height: 50px;
  text-align: end;
}

.ex2 {
  /*   text-align: center; */
  background-color: aqua;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  line-height: 300px;
  /* 내안의 노랑 박스글자를 옮긴다 그러니까 노랑애들이 가운데 가려면 line-height300 */
  /* 노란색을 움직이고싶다. 근데 텍스트가 상속을 받은거지 */
  /* 한글자만썻지만 글자폭?이 늘어난거라 다시 밑에서 줘야됨 */
}

.ex2 div {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: yellowgreen;

  /*   margin-top:100px; 이건 안됨. 부모가 보더나 패딩이 있어야만 가능
  그럼 div를 수직으로 옮기려면 인라인레벨로 바꿔야함. 그래서 inline-block적용
  그리고 1번 상자는 100만큼 가운데 가니까 */

  /* 내 글자만큼이니까 100을 주면 가운데로 옴. 자식이 우선순위높으니까 자식한테도 준거야 */
}

.ex2 div:first-child {
  height: 100px;

  /* 내 안에 있는 글자를 정렬할거면 디브에 라인하이트100 */
}

.ex2 div:last-child {
  height: 200px;
  line-height: 200px;

}

/* --------------------------------------- */

.ex3 {
  background-color: yellow;
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}

.ex3 span:first-child {
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  line-height: 100px;
  margin-left: auto;
}

.ex4 {
  background-color: yellow;
  width: 100%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}

.ex4 span:first-child {
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  line-height: 100px;
  margin-left: auto;
}

.ex5 {
  background-color: yellow;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.ex5 span:first-child {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  line-height: 100px;
  margin: auto;
}

.ex5 span:last-child {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  line-height: 100px;
  margin: auto;
}

.ex6 {
  background-color: yellow;
  width: 100%;
  text-align: center;
}

.ex6 span:first-child {
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  line-height: 100px;
  margin: auto;
}

.ex6 span:last-child {
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  line-height: 100px;
  margin-left: auto;
}

.ex7 {
  background-color: yellow;
  width: 100%;
  text-align: center;
}

.ex7 span:nth-child(1) {
  display: block;
  width: 100px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  line-height: 100px;
  margin-right: auto;
}

.ex7 span:nth-child(2) {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin-left: auto;
  background-color: rgb(0, 0, 0);
  color: white;
}

.ex7 span:nth-child(3) {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin-right: auto;
  background-color: rgb(0, 0, 0);
  color: white;
}

.ex7 span:nth-child(4) {
  display: block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-left: auto;
}

/* .section1 >article>span {
  background-color: bisque;
} */

div .a p {
  background-color: antiquewhite;
  margin: 10px 0;
}

div .a a {
  background-color: rgb(177, 109, 21);
  margin: 10px 0;
}

.b {}

.b div {
  display: inline-block;

}