body {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

div {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
span {
  width: 100px;
  height: 100px;
  background-color: teal;
  display:flex;
  align-items: center;
justify-content: center;
}