.board_section .sub_desc {
  font-size: 0.9em;
}

.board {
  width: 100%;
  border-top: 3px double var(--main-color);
}

.board tr {
  border-bottom: 1px solid #CCC;

}

.board td,
.board th {
  padding: 7px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}




.board tr>*:nth-child(1),
.board tr>*:nth-child(5) {
  width: 50px;
}

.board tr>*:nth-child(3),
.board tr>*:nth-child(4) {
  width: 120px;
}

.board th {
  background-color: var(--main-color);
  color: #FFF;
}

.board tbody tr:nth-child(2),
.board tbody tr:nth-child(4),
.board tbody tr:nth-child(6) {
  background-color: #EEE;
}

.board td a {
  display: block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board td a:hover {
  color: var(--point-color);
}

.board_paging {
  margin: 30px 0;
  text-align: center;
}

.board_paging a {
  margin: 0 3px;
  font-weight: 600;
}

.board_paging a:hover {
  color: var(--main-color);
}

.board_paging a.active {
  color: var(--point-color)
}

.board_search {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #CCC;
  ;
}

.board_search * {
  padding: 2px;
  height: 23px;
  vertical-align: middle;
}

.board_search button {
  width: 50px;
  background-color: var(--main-color);
  color: #FFF;
  border-radius: 2px;
}

.board_search button:hover {
  background-color: var(--point-color);
}

@media screen and (max-width:800px) {

  .board tr>*:nth-child(1),
  .board tr>*:nth-child(4),
  .board tr>*:nth-child(5) {
    display: none;
  }
}