.greet_section p {
  margin: 40px auto;
  text-align: center;

}

.greet_section p:nth-of-type(1),
.greet_section p:nth-of-type(3) {
  max-width: 500px;
}

.greet_section p:nth-of-type(2),
.greet_section p:nth-of-type(4) {
  max-width: 800px;
}

@media screen and (min-width:600px) {
  .greet_section figure {
    display: flex;

  }

  .greet_section figure img {
    flex: 1;
    max-width: 50%;
  }
}

@media screen and (max-width:600px) {
  .greet_section figure img {
    margin: 0 auto;
    width: 100%;
  }
}

/* ---  img  --- */

.greet_section figure img {
  opacity: 0;
  transition: all 1s;
}
.greet_section figure img.active {
  opacity: 1;
}