/* --- sub_visual --- */

.sub_visual {
  background-color: #000;
  position: relative;
}

.sub_visual figure {
  position: relative;
  height: 100%;
}

.sub_visual figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.9);
}

.sub_visual figure figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 400px;
  text-align: center;
  color: #DDD;
  transform: translate(-50%, -50%);
}

.sub_visual figure figcaption h5,
.sub_visual figure figcaption p {
  transition: all 1.5s;
}

.sub_visual figure figcaption h5 {
  font-size: 2.7em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.sub_visual figure figcaption p {
  font-size: 1.1em;

}

/* --- motion --- */
.sub_visual figure figcaption h5,
.sub_visual figure figcaption p {
  opacity: 0;
}

.sub_visual figure figcaption h5 {
  transform: translateY(-90%);
}

.sub_visual figure figcaption p {
  opacity: 0;
  transform: translateY(90%);
}

.sub_visual figure.active figcaption h5,
.sub_visual figure.active figcaption p {
  opacity: 1;
  transform: translateY(0);
}


@media screen and (min-width:1000px) {
  .sub_visual {
    height: 600px;
  }
}

@media screen and (max-width:1000px) {
  .sub_visual {
    height: 300px;
  }
}

/* --- sub_center --- */

.sub_center {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  margin: 30px auto;
}

@media screen and (min-width:1000px) {
  .sub_center {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

}

/* --- sidebar --- */


.snb>ul>li {
  display: none;
}

@media screen and (min-width:1000px) {
  .sidebar {
    width: 22%;
  }

  .snb h6 {
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px;
    margin-bottom: 10px;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }

  .snb>ul>li>ul>li>a {
    display: block;
    padding: 10px;
    font-size: 0.9em;
    border-bottom: 1px dotted #CCC;
  }

  .snb>ul>li>ul>li:hover>a {
    color: var(--point-color);
  }

  .snb>ul>li>ul>li>a.active {
    background-color: var(--sub2-color);
    color: var(--point-color);
  }

}

@media screen and (max-width:1000px) {
  .sidebar {
    margin-bottom: 30px;
  }

  .snb>ul>li>h6 {
    display: none;
  }

  .snb>ul>li>ul {
    display: flex;
    height: 50px;
  }

  .snb>ul>li>ul>li {
    flex: 1;
    margin-left: -1px;
    /* 겹치는 선을 없애줄수있음 */
    overflow: hidden;
    /* 앵커가 늘어나도 늘어나지않고 숨기겠다 */
    border: 1px solid var(--sub2-color);
  }

  .snb>ul>li>ul>li>a.active {
    background-color: var(--main-color);
  }

  .snb>ul>li>ul>li>a:hover {
    background-color: var(--main-color);
  }

  .snb>ul>li>ul>li>a {
    display: block;
    height: 100%;
    padding: 0 10px;
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
    /* 줄내림없애기 그대신 텍스트가늘어나면 칸이 늘어남*/
    overflow: hidden;
    text-overflow: ellipsis;
    /* 텍스트오버플로우할려면 오버플로우를 꼭해야함 */
    line-height: 50px;
    /* 플렉스가 되어있고, 부모가 있으니까 100%할수있는거  앵커를 100퍼를 해야 클릭 범위가 넓어짐*/
    background-color: var(--sub-color);
    color: #FFF;
    transition: background 0.3s;
    /* 반응형에서는 트랜지션에 all보다는 정확하게 써줘야 우당탕탕안함 */
  }
}


/* --- sub_content --- */

.sub_content {

  background-color: palegreen;
}

@media screen and (min-width:1000px) {
  .sub_content {
    width: 75%;
    min-height: 500px;
  }
}

/* --- motion ---*/

.snb>ul>li {
  opacity: 0;
  transform: translateY(50%);
  transition: all 1.5s;
}


.snb>ul>li.active {
  opacity: 1;
  transform: translateY(0%);
}

.sub_content {
  opacity: 0;
  transform: translateY(20%);
  transition: all 1.5s;
}

.sub_content.active {
  opacity: 1;
  transform: translateY(0%);
}



/* --- hidden --- */

.snb ul>li>a>span {
  display: none;
}

.sub_visual figure {
  display: none;
}