@use "./mixin" as m;

.comp-daily {
  .section-inner {
    padding-top: 0 !important;
    ul {
      li {
        padding: 5px;
        border-bottom: 1px solid rgba(#4378a3, 0.2);
        a {
          position: relative;
          display: block;
          padding: 10px;
          transition: all 0.5s;
          text-align: left;
          .date {
            color:var(--color2);
            font-size: 0.9em;
            font-weight: 500;
            margin-bottom: 10px;
            span.desc {
              font-style: italic;
            }

            i {
              margin-right: 2px;
            }
            
          }
          .info {
            img {
              display: inline-block;
              vertical-align: middle;
              margin-right: 15px;
              width: 50px;
            }//img
            span {
              margin-right: 10px;
              color:var(--color2);
              i {
                margin-right: 5px;
                
              }
              em {
                
                font-weight: 500;
              }
            }//span
          }//info
          &.active{
            background-color: var(--sky);
            color:#FFF;
            .fa-chevron-down{
              color:var(--color2);
              transform: translateY(-50%) rotate(180deg);
            }
            // i{
            //   transform: rotate(180deg);
            // }
          }//active
          .fa-chevron-down {
            color:var(--color2);
            position: absolute;
            right: 10px;
            top:50%;
            transform: translateY(-50%);
            font-size: 1.3em;
            transition: all 0.3s;
          }
        } //a
        .detail {
          display: none;
          background-color:rgb(229,250,198);
          color:var(--color2);
          padding: 10px;
          p {
            border-bottom: 1px solid #fff;
            padding: 10px 0;
            &:last-child {
              border: none;
            }
            span {
              
              margin-right: 15px;
              b {
              
                margin: 0 5px;
              }
              em {
                font-weight: 400;
                small {
                  font-size: 0.85em;
                }
              }//em
            }
          }
        }

      } //li
    } //ul
  } //section-inner
} //comp-daily
