body {
  color: #666;
  font-family: 'Montserrat','Noto Sans KR', sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-color:#1cbdb4;
  --dark-color:#333;
  --header-height:60px;
}