body {
  margin: 0;
}

.box1 {
  width: 100px;
  padding: 50px;
  background-color: #CCC;
}/* w, h가 있어야 박스사이징이 된다. */

.line {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid red;
}

.line1 {
  top: 70%;
}


.line2 {
  top: 30%;
}