@use 'mixin' as m;

.section4 {
  position: relative;
  min-height: calc(100vh - var(--header-height));
  padding: 16vh 0;
  background-image: url(../img/section4/section4_bg.jpg);
  background-position: center;
  background-size: cover;
  #particles-js2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    mix-blend-mode: overlay;
  }

  .btns {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    button {
      padding: 7px 30px;
      background: #fff;
      border: 1px solid #ccc;
      text-transform: uppercase;
      font-size: 0.85em;
      font-weight: 600;
      color: #bbb;
      border-radius: 20px;
      transition: color 0.3s background 0.3s;
      &:hover {
        color: var(--main-color);
      }
      &.active {
        background: var(--main-color);
        color: #fff;
        border-color: var(--main-color);
      }
      @media #{m.$maxSm} {
        display: block;
        width: 80%;
        margin: 10px auto;
      }
    }
  }

  .portfolio {
    position: relative;
    display: flex; //레이아웃을 눈으로 확인하려고
    flex-wrap: wrap;
    width: min(95%, 1000px);
    margin: 0 auto;
    li {
      box-sizing: border-box;
      padding: 1px; //여백
      @media #{m.$minLg} {
        width: 33%; //넓이 약간 여유 있어야 한다
      } //1000이상
      @media #{m.$md} {
        width: 49.5%;
      }
      @media #{m.$maxSm} {
        width: 100%;
      }
      a {
        display: block;
        padding: 5px;
        border: 1px solid #ccc;
        background: #fff;
        figure {
          position: relative;
          overflow: hidden;
          &:hover {
            div {
              transform: scale(1.2);
            }
          }
          div {
            transition: all 0.3s;
            img {
              width: 100%;
            }
          }
          figcaption {
            position: absolute;
            top: -10000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            text-align: center;
            background: rgba(green, 0.8);
            color: #fff;
            h3 {
              margin-bottom: 10px;
              padding: 5px 10px;
              background: var(--dark-color);
              color: #fff;
              border-radius: 20px;
              text-transform: uppercase;
              font-size: 600;
            }
          }
        }
      }
    }
  }
}
