@use "./mixin" as m;

html {
  --beige: #fff4cb;
  --color: #fff065;
  --color2: #4a6159;
}

body {
  color: var(--color2);
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  background-color: var(--sky);
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/weather-icos.gif);
    opacity: 0.7;
    background-size: 100px;
    animation: bg 5000s linear infinite;
    @keyframes bg {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -50000px -50000px;
      }
    }
  }
}
h1 {
  z-index: 1;
  perspective: 700px;
  position: absolute;
  left: 50%;
  top: -1%;
  width: min(70%, 350px);
  transform: translate(-50%, -50%); //수평중앙
  img {
    width: 100%;
    opacity: 0.8;
    animation: rotate 7s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @media screen {
      
    }
  }
  @keyframes rotate {
    0% {
      transform: rotateX(0deg);
    }
    50% {
      transform: rotateX(360deg);
    }
    100% {
      transform: rotateX(360deg);
    }
  }
}

#root {
  @include m.posLT(fixed, 50%, 50%, -50%, -48%);
  width: min(95%, 1100px);
  height: min(90%, 800px);
  background: linear-gradient(-45deg, #fff2a8, #ffd3fb);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid rgba(#fff, 0.7);
  animation: grow 2s infinite alternate;
  @media screen and (min-width: 900px) {
    min-height: 760px;
  }
  @keyframes grow {
    0% {
      box-shadow: 0 0 5px 0px rgba(#fff, 0.3);
    }
    100% {
      box-shadow: 0 0 15px 10px rgba(#fff, 0.7);
    }
  }
  > div.app-inner {
    height: 100%;
    position: relative;
    @media screen and (min-width: 900px) {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    @media screen and (max-width: 900px) {
      overflow: hidden;
      overflow-y: auto;
      overflow-x: hidden;
    }
    section {
      box-sizing: border-box;
      @media screen and (min-width: 900px) {
        height: 50%;
        width: 50%;
      }
      @media screen and (max-width: 900px) {
        margin: 20px 0;
      }
      .section-inner {
        box-sizing: border-box;
        padding: 10px;
        border-radius: 10px;
        position: relative;
        min-height: 250px;
        @media screen and (min-width: 900px) {
           height: 100%;
          overflow: auto; 
        }
        .preloader {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-color: #ffd3fb;
        } //loader
        h2 {
          padding: 5px 10px;
          font-weight: 600;
          text-transform: uppercase;
          background-color: var(--color);
          color: #167c16;
          border-radius: 10px;
          @media screen and (min-width: 900px) {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
          }
        }
      } //section-inner
    } //section
  } //inner 안으로 스크롤바 만들려고 미디어를 안으로 줌
} //root 여기 스크롤바 달 예정

.app-inner,
.section-inner,
body {
  @media (hover: hover) {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color);
    }
  } //media hover
}

/* preloader */

.loader {
  color: #ffffff;
  font-size: 50px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
      -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em,
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em,
      -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
