@use "mixin" as m;

.section6 {
  .bg {
    top: var(--header-height);
    position: sticky;
    height: calc(100vh - var(--header-height));
    img {
      @include m.objectFit(cover);
    }
  }
  .contact {
    position: relative;//삐지랑 겹쳐놨는데 안주면 깔리니까 렐러티브
    margin-top: calc(-100vh + var(--header-height));
    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - var(--header-height));
      background-color: rgba(red, 0.3);
      div {
        position: relative;
        width: min(90%, 650px);
        img{
          width: 100%;
        }
        .car {
          position: absolute;
          top:0;
        }
      }//div
    }//figure
    form {
      height: calc(100vh - var(--header-height));
      background-color: rgba(rebeccapurple, 0.3);
    }
  }
}
