@use "mixin" as m;

.section5 {
  article,
  .dummy-scroll {
    height: calc(100vh - var(--header-height));
  }
  .bg {
    position: sticky;
    top: var(--header-height);
    img {
      @include m.objectFit(cover);
    }
    video {
      @include m.objectFit(cover);
      position: absolute;
      top: 0;
      mix-blend-mode: screen;
    }
  }
  .earth {
    position: sticky;
    top: var(--header-height);
    mix-blend-mode: overlay;
    figure {
      @include m.posLT(absolute, 50%, 50%, -50%, -50%);
      width: min(90%, 600px);
      img {
        width: 100%;
      }
      .dummy {
        opacity: 0;
      }
      .img {
        position: absolute;
        top: 0;
      }
    }
  }
  .progress {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: var(--header-height);
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        position: relative;
        padding: 10px;
        box-sizing: border-box;
        max-width: 330px;
        @media #{m.$minLg} {
          width: 25%;
        }
        @media #{m.$maxLg} {
          width: 50%;
        }
        svg {
          width: 100%;
          .poly-circle {
            fill: rgba(#fff, 0.3);
            stroke: var(--main-color);
            stroke-width: 5px;
          }
          .circle {
            fill: rgba(#fff, 0.4);
          }
          .progress {
            fill: none;
            stroke: var(--main-color);
            stroke-width: 15px;
          }
        }
        .textbox {
          text-align: center;
          @include m.posLT(absolute, 50%, 50%, -50%, -50%);
          background-color: red;
        }
      }
    }
  }
}
