* {
  margin: 0;
  padding: 0;
}

main,
body {
  width: 100%;
}

body {
  position: relative;
}


ul {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

li {
  list-style: none;
}

img {}

div {
  position: fixed;
  border: 1px solid red;
  width: 100%;
  top: 50%
}

@media screen and (min-width:1000px) {
  ul>li {
    width: 33.333%;
  }
}


@media screen and (max-width:500px) {
  ul>li {
    width: 100%;
  }
}