.gallery5_section .btn_container {
  margin: 40px auto;
  text-align: center;
}

.gallery5_section .btn_container button {
  margin: 0 5px;
  padding: 10px;
  color: #FFF;
  background-color: var(--main-color);
  border-radius: 20px;
  transition: all 0.5s;
}

.gallery5_section .btn_container button:hover {
  background-color: var(--sub-color);
}

.gallery5_section .btn_container button.active {
  background-color: var(--point-color);
}

.isotope_container li {
  box-sizing: border-box;
  padding: 5px;
}

.isotope_container li a {
  display: block;
  padding: 5px;
  background-color: #EEE;
  border: 1px solid #CCC;
}

.isotope_container li a figure {
  position: relative;
}

.isotope_container li a figure img {
  width: 100%;
}

.isotope_container li a figure figcaption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
}

.isotope_container li a figure figcaption h3 {
  padding: 5px 20px;
  border-radius: 0 15px 0 15px;
  margin-bottom: 10px;
  background-color: var(--point-color);
  text-transform: uppercase;
  font-weight: 600;
  /* 플렉스 안에 들어가서 꽉찬 너비 사라짐 */
}

.isotope_container li a figure figcaption p {
  width: 80%;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 20px 0 20px 0;
  background-color: var(--sub-color);
  /*  max-width: ;
  padding:  이 두가지 방법 써도 됨*/
}

@media screen and (min-width:1200px) {
  .isotope_container li {
    width: 33.3%;
  }
}

@media screen and (min-width:600px) and (max-width:1200px) {
  .isotope_container li {
    width: 50%;
  }
}

@media screen and (max-width:600px) {
  .isotope_container li {
    width: 100%;
  }

}

/* hover */
.isotope_container li a figure {
  overflow: hidden;
}

.isotope_container li a figure figcaption {
  opacity: 0;
  transition: all 1s;
}

.isotope_container li a:hover figure figcaption {
  opacity: 1;
}

.isotope_container li a figure img {
  transition: all 1s;
}

.isotope_container li a:hover figure img {
  transform: scale(1.2);
}

.isotope_container li a figure figcaption h3,
.isotope_container li a figure figcaption p {
  opacity: 0;
  transition: all 1s;
}

.isotope_container li a figure figcaption h3 {
  transform: translateX(-100px);

}

.isotope_container li a figure figcaption p {
  transform: translateX(100px);

}

.isotope_container li a:hover figure figcaption h3,
.isotope_container li a:hover figure figcaption p {
  opacity: 1;
  transform: translateX(0);
}

/* 컨에이치 누르고 바꾸면 한번에 바꾸기 가능 */