@use 'mixin' as m;

.section3 {
  position: relative;
  overflow: hidden;
  height: calc(100vh - var(--header-height));
  .bg {
    height: 100%;
    background-image: url(../img/section3/seciton3_bg.jpg);
    background-position: center;
    background-size: cover;
  } //배경이 움직여야 함
  .gooey {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    filter: url(#goo);
    div {
      position: absolute;
      @include m.square;
      border-radius: 50%;
      background: radial-gradient(at 20% 20%, #fff, #00f);
      animation-name: paper;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
  .section3-text {
    pointer-events: none;
    width: min(90%, 900px);
    @include m.posLT(absolute, 50%, 50%, -50%, -50%);
  }
}
